body{
    background-color: #c5d5c5;
    
}

.sidenav {
    height: 100%;
    width: 0vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e3e0cc;
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .sidenav a {
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9fa9a3;
    display: block;
    transition: 0.3s;
    background-color: white;
    margin: 15px 0 15px 0;
  }

  
  .sidenav a:hover {
    color: #c5d5c5;
    font-size: 32px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    right: 0;
    top: 15px;
    height: 2vw;
    width: 2vw;
    padding: 2px;
    font-family: sans-serif;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor:pointer;
    
  }

  #openNav{
    font-size:25px; 
    cursor:pointer;
    margin-left : 20px;
    margin-top: 20px;
    color: white;
  }

  #myImage{
      display: block;
      margin: auto;
      width: 420px;
      transition: 0.3s;
      
  }

  /*Change image Width when width of screen is less than or equal to 700px*/
  @media screen and (max-width: 700px) {
    #myImage{
      width: 50vw;
    }
  }

  /*Change font size when width of screen is less than or equal to 540px*/
  @media screen and (max-width: 540px) {
  .sidenav a {
    font-size: 14px;
  }

  
  .sidenav a:hover {
    font-size: 16px;
  }
}
